<h1>Tech Blog</h1>
{{#each allBlogPosts}}
    <h3>{{title}} by {{user.name}}</h3>
    <p>{{blog_post}}</p>
    <p>Date: ${{date_created}}</p>
    <p>Comments: ${{comment.comment}}</p>
    <hr>
{{/each}}