<h2>{{name}}'s page</h2>

<h3>Add a new Blog Post</h3>
<form action="">
    <input type="text" id="title" placeholder="title">
    <textarea id="blog_post" placeholder="blog post"></textarea>
    <button>Add a blog post</button>
</form>

<h3>Blog Posts</h3>
{{#each blog_posts}}
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    <p>Date: {{date_created}}</p>
    <button class="post-update-btn" data-blogpost-update-id="{{id}}">Update</button>
    <button class="post-del-btn" data-blogpost-id="{{id}}">Delete</button>
    <hr>
{{/each}}

<h2>Comments</h2>
{{#each comments}}
    <p>{{comment}}</p>
    <p>Date: {{date_created}}</p>
    <a href="/blogpost/{{blog_post_id}}">Go To Blog Post</a>
    <button class="comment-update-btn" data-comment-update-id="{{id}}">Update</button>
    <button class="comment-del-btn" data-comment-id="{{id}}">Delete</button>
    <hr>
{{/each}}

<script src="/js/profile.js"></script>
