<h2>{{name}}'s page</h2>
<h3>Blog Posts</h3>
{{#each blog_posts}}
    <h3>{{title}} by {{user.name}}</h3>
    <p>{{content}}</p>
    <p>Date: {{date_created}}</p>
    <p>Comments: {{comment.comment}}</p>
    <button class="del-btn" data-blogpost-id="{{id}}">Delete</button>
    <hr>
{{/each}}

<h3>Add a new Blog Post</h3>
<form action="">
    <input type="text" id="title" placeholder="title">
    <textarea id="blog_post" placeholder="blog post"></textarea>
    <button>Add a blog post</button>
</form>

<script src="/js/auth.js"></script>
<script src="/js/profile.js"></script>
