<h1>{{title}} by {{user.name}}</h1>
<p>Date: {{date_created}}</p>
<p>{{content}}</p>
<h2>Comments</h2>
{{#each comments}}
    <p>{{comment}}</p>
    <span> by {{user.name}}</span>
    <p>Date: {{date_created}}</p>

    <hr>
{{/each}}


