<link rel="stylesheet" href="/css/singleBlogPost.css" />

{{#if editableBlog}}
    <section class="user-blog-post">
        <h4 class="update-title-ro">{{title}}</h4>
        <input readonly class="update-title hidden" value="{{title}}" type="text" placeholder="title" />
        <br />
        <span> by {{user.name}}</span>
        <p class="update-post-ro">{{content}}</p>
        <textarea readonly class="update-post hidden">{{content}}</textarea>
        <p>Date: {{date_created}}</p>
        <button class="post-update-btn" data-blogpost-id="{{id}}">Update</button>
        <button class="save-btn hidden" data-blogpost-id="{{id}}">Save</button>
        <button class="post-del-btn" data-blogpost-id="{{id}}">Delete</button>
        <button class="cancel-btn hidden" data-blogpost-id="{{id}}">Cancel</button>
    </section>
{{else}}
    <h2>{{title}} by {{user.name}}</h2>
    <p>Date: {{date_created}}</p>
    <p>{{content}}</p>
{{/if}}

<h3>Comments</h3>
{{#if logged_in}}
    <h3>Add a comment</h3>
    <form id="comment_form" action="">
        <textarea id="blog_comment" placeholder="comment"></textarea>
        <button>Add a comment</button>
        <input id="blog_post_id" type="hidden" value="{{id}}" />
    </form>
    <hr>

{{/if}}
{{#each comments}}
        <section class="user-comment">
    {{#if editable}}
            <p class="update-comment-ro">{{comment}}</p>
            <textarea readonly class="update-comment hidden">{{comment}}</textarea>
    {{else}}
            <p>{{comment}}</p>
    {{/if}}
            <span> by {{user.name}}</span>
            <p>Date: {{date_created}}</p>
    {{#if editable}}
            <button class="comment-update-btn" data-comment-id="{{id}}">Update</button>
            <button class="comment-save-btn hidden" data-comment-id="{{id}}">Save</button>
            <button class="comment-del-btn" data-comment-id="{{id}}">Delete</button>
            <button class="comment-cancel-btn hidden" data-comment-id="{{id}}">Cancel</button>
    {{/if}}
            <hr>
        </section>
{{/each}}

<script src="/js/singleBlogPost.js"></script>
